.App {
  text-align: center;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  color: black;
  }

.App-logo {
  height: 10vmin;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo:hover {
    /*animation: App-logo-spin 1s 1;*/
    position: absolute;
    left: 10px;
    top: 30px;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  /* 25% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(-30deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  } */
  to {
    position: absolute;
    left: 10px;
    top: 30px;
  }
}


.kader {
  background-color: #282c34;
  color: white;
  height: 50px;
  width: 150px;
  left: 1%;
  top: 1%;
  position: fixed;
}

.kader:hover {
  background-color: #33373f;
}

.profile {
  background-color: #282c34;
  color: white;
  height: 50px;
  width: 150px;
  left: 87%;
  top: 1%;
  position: fixed;
}

.profile:hover {
  background-color: #33373f;
}

.user {
  background-color: #282c34;
  color: white;
  height: 50px;
  width: 150px;
  left: 87%;
  top: 1%;
  position: fixed;
  font-size: small;
  left: 86%;
  top: 20% !important;
  position: fixed;
}
.move {
  left: 87%;
  top: 10%;
  position: fixed;
}

/* Popup style */
.popup-box {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1;
}

.box {
  position: relative;
  width: 20%;
  margin: 0 auto;
  height: auto;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  border: 1px solid #999;
  overflow: auto;
}

.close-icon {
  content: 'x';
  cursor: pointer;
  position: fixed;
  right: calc(40% - 33px);
  top: calc(100vh - 85vh - 33px);
  background: #ededed;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 1px solid #999;
  font-size: 20px;
}

.details {
  width: 100%;
  direction: rtl;
  text-align:right;
  color: black;
  font-size: medium;
}

.logo {
  width: 60px;
  height: 60px;
}

.logo:hover {
  width: 65px;
  height: 65px;
}

.hafifa {
  position: absolute;
  left: 360px;
  top: 10px;
}

.rabat {
  position: absolute;
  left: 430px;
  top: 40px;
}

.samal {
  position: absolute;
  left: 730px;
  top: 40px;
}

.samar {
  position: absolute;
  left: 1000px;
  top: 140px;
}

.money {
  position: absolute;
  left: 650px;
  top: 180px;
}
.course {
  position: absolute;
  left: 550px;
  top: 40px;
}
.education {
  position: absolute;
  left: 750px;
  top: 70px;
}
.sagam {
  position: absolute;
  left: 275px;
  top: 310px;
}