.App {
  text-align: center;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  }

.App-logo {
  height: 15vmin;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo:hover {
    /*animation: App-logo-spin 1s 1;*/
    position: absolute;
    left: 10px;
    top: 30px;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  /* 25% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(-30deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  } */
  to {
    position: absolute;
    left: 10px;
    top: 30px;
  }
}
